@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Peat's Hotel</h1>
    <h1>Aqui seu peat vai se sentir em casa!</h1>
</div>
